html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0rem 0.75rem;
}

.main {
  max-width: 1024px;
  margin: 0rem auto;
}

.hBase {
  position: relative;
  height: 100vh;
}

.hFull {
  height: 100%;
  height: fit-content;
}

.bgGray {
  background-color: rgb(243 244 246);
}