.header {
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.headerLogo {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 10px;
    --s: 0.1em;
    /* the thickness of the line */
    --c: #1095c1;
    /* the color */

    color: #0000;
    padding-bottom: var(--s);
    background:
        linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.headerLogo:hover {
    --_p: 100%
}

.bgWhite {
    background-color: white;
}

.shadow {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.z20 {
    z-index: 20;
}