.header {
    padding: 1rem 0rem;
}

.headerLogo {
    font-size: 1.5rem;
    line-height: 2rem;
}

.bgWhite {
    background-color: white;
}

.shadow {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.z20 {
    z-index: 20;
}